.container {
  overflow-y: auto;
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for IE and Edge */
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
